* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: black;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}

.main{
    background-color: #3d7ea6;
    padding: 0 20px 20px 20px;
}
.getYourHero{
    display: flex;
    align-items: center;
}

#btn{
    display: flex;
    flex-direction: column;
}
.input{
    margin: 15px 5px;
    width: 70%
}

.stats {
    display: flex;
    justify-content: right;
}

.stats p {
    display: flex;
    align-items: flex-end;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.countdown-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#time{
    display: flex;
    margin: 0px
}

.signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

.inputUser{
    margin: 10px 0
}

.play{
    display: flex;
    flex-direction: column;
}