* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: #f7d281;
    font-family: 'Bangers', cursive;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 20px;
}

.navbar {
    padding: .8rem;
    background-color: #902724
}

.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.5em !important;
    font-weight: bold;
    background-color: #1a323e;
    border: 2px solid black;
    border-radius: 1rem;
    text-align: center;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.navbar-brand img{
    width: 100px; 
    border-radius: 1rem; 
    border: #1a323e 5px solid; 
    border-style: groove;
}

.navbar-toggler{
    background-color: #fff;
}

.main{
    text-align: center;
    padding: 0px 5px 20px 0px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color:#1a323e;
    margin: 25px 10px;
    padding: 10px;
    border-radius: 1em;
    color: white;
    border: 10px solid #902724;
    border-style: groove;
    transition: 1s ease;
}

.feature h1{
    font-size:2.55em;
}

.feature h3{
    font-size: 1.5em;
    text-decoration: underline;
    
}

.feature img{
    width: 100%; 
    border-radius: 1em;
}

.buttonPlay{
    font-weight: bolder;
    background-color:  #1b729f ;
    border-radius: 1em;
    margin: 10px;
    font-size: 1.5em;
    padding:10px;
}

#buttonRandom{
    font-weight: bolder;
    background-color:  #902724;
    padding:10px;
}

#again{
    background-color: #902724;
}

.countdown-section h1{
    display: flex;
    justify-content: center;
}

#search{
    width: 120px;
}

.big-text {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 1rem;
}

.countdown-el {
    text-align: center;
    margin: 10px 0;
}

.countdown-el span {
    font-size: 0.7em;
}

.time{
    display: flex;
    font-size: 1.5em;
    justify-content: space-around;
}
.getYourHero{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input input, textarea{
    margin: 15px 10px;
    width: 70px;
    background-color: #f7d281;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: right;
}

.stats p {
    display: flex;
    align-items: flex-end;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bolder;
}
.inputUser{
    border-radius: 1em;
    border: 4px solid #902724;
    margin: 10px;
}

.inputUser input{
    border-radius: 1em;  
    text-align: center;
}

.play{
    display: flex;
    flex-direction: column;
}

.message-container p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color:#902724;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 1em;
    color: black;
    border: 10px solid #f7d281;
    border-style: groove;
    transition: 1s ease;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

h1{
    margin: 20px 0;
    -webkit-text-fill-color: #902724;
}

.carousel-item{
    position: relative;
   
}

h2{
    position: absolute;
    top: 10%;
    text-align: center;
    z-index: 1;
}

.carousel-item h3{
    position: absolute;
    align-items: center;
    bottom: 15px;
    padding: 0px 5px;
    left: 13%;
    right: 3%;
    font-size: 1.5em;
}

.carousel-item img{
    height: 300px;
    margin-bottom: 20px;
}


.icon{
    margin: 10px 0;
    font-size: 30px;
}

#next{
    background-color:  #902724;
}

.words{
    margin-top: 20px;
}

#searchApp img{
    width: 180px;
}

#searchInp{
    width: 180px;
    text-align: center;
}

#thanos{
    width: 60%;
}

@media screen and (min-width: 450px){
    h2{
        left: 10%;
    }
}

@media screen and (min-width: 600px){
    h2{
        left: 15%;
    }

}

@media screen and (min-width: 700px){

    h2{
        position: absolute;
        top: 10%;
        left: 20%;
        text-align: center;
        z-index: 1;
    }

    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature{
        width: 80%;
    }

    .search{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .countdown-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .getYourHero{
        display: flex;
        justify-content: space-around;
        width: 80%;
    }

    .getYourHero img{
        width: 100%;
        margin:0px;
    }

    .input input, textarea{
        width: 200px;
        background-color: #f7d281;
    }

    #btn img{
        width: 200px;
        
    }

    .play{
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1000px){
    html, body{
        font-size: 30px;
    }
    
    .carousel-item img {
        height: 600px;
    }

    .welcome{
        font-size: 3em;
    }

    h2{
        position: absolute;
        top: 10%;
        left: 20%;
        text-align: center;
        z-index: 1;
    }

    #subtitle{
        text-align: center;
        margin-right: 50px;
        font-size: 2em;
    }

    .features{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .feature{
        width: 90%;
        height: 100%;
    }

    #mini-game{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .icon{
        margin: 10px 0;
        font-size: 60px;
    }

    .main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
    }

    .navbar-brand img{
        width: 200px; 
      
    }

    #count{
        width: 650px;
    }
    
    #signup{
        width: 50%;
    }

    #search{
        width: 250px;
    }

    .textSearch{
        display: flex;
    }

    .buttonPlay{
        padding: 20px;
        
    }
}